@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
     font-family:'Poppins',sans-serif;
}
body{
    background-color: rgb(70, 47, 29);
}
.navbar{
    width:90%;
    max-width:1200px;
    margin:20px auto;
    padding:15px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(235, 136, 136, 0.12);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.2);
    border-radius:50px;

    box-shadow:0 8px 32px rgba(0,0,0,.15);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-icon{
    width:45px;
    height:45px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#810d04,#4d0310);
    color:#fff;
    font-size:22px;
}

.logo-text{
    color:#ffffff;
    font-size:20px;
    font-weight:700;
    letter-spacing:1px;
}

.nav-links{
    display:flex;
    gap:40px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#000000;
    font-size:17px;
    transition:.3s;
}

.nav-links a:hover{
    color:#491204;
}

.contact-btn{
    text-decoration:none;
    color:#fff;
    padding:12px 28px;
    border-radius:30px;
    background:linear-gradient(135deg,#8a0202,#410202);
    transition:.3s;
    font-weight:600;
}

.contact-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(255,77,109,.4);
}

@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:20px;
        border-radius:25px;
    }

    .nav-links{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }
}
   /* hero--section */
   .hero{
    width:90%;
    max-width:1200px;
    min-height:100vh;

    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
}

.hero-img img{
    width:350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;

    border:6px solid rgba(255,255,255,.2);

    box-shadow:
    0 0 40px rgba(255,255,255,.15),
    0 20px 50px rgba(0,0,0,.3);
}

.hero-content{
    max-width:550px;
}

.hero-content h4{
    color:#000000;
    font-size:22px;
    margin-bottom:10px;
}

.hero-content h1{
    color:#fff;
    font-size:65px;
    line-height:1.2;
}

.hero-content span{
    color:#330802;
}

.hero-content p{
    color:#d5d5d5;
    margin:25px 0;
    line-height:1.8;
    font-size:18px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#420b02;
    color:#e0b7b7;
    text-decoration:none;
    border-radius:40px;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 30px rgba(157,123,255,.4);
}

/* Banner */

.service-banner{

    height:45vh;
    background:linear-gradient(135deg,#b30000,#3b0101);

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    color:white;
    text-align:center;
    padding:20px;
}

.service-banner h1{

    font-size:60px;
}

.service-banner p{

    max-width:700px;
    margin-top:15px;
    line-height:1.8;
}

/* Services */

.services{

    width:90%;
    margin:80px auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:30px;
}

.card{

    background:white;

    padding:40px 30px;

    border-radius:20px;

    text-align:center;

    transition:.4s;

    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.card:hover{

    transform:translateY(-10px);

}

.icon{

    width:90px;
    height:90px;

    margin:auto;

    border-radius:50%;

    background:#b30000;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:25px;
}

.icon i{

    color:white;
    font-size:35px;
}

.card h2{

    color:#5a0202;

    margin-bottom:15px;
}

.card p{

    color:#666;

    line-height:1.8;
}

/* CTA */

.cta{

    width:90%;
    max-width:1200px;

    margin:80px auto;

    background:linear-gradient(135deg,#b30000,#410101);

    padding:70px;

    border-radius:25px;

    text-align:center;

    color:white;
}

.cta h2{

    font-size:40px;

    margin-bottom:20px;
}

.cta p{

    max-width:650px;

    margin:auto;

    line-height:1.8;

    margin-bottom:30px;
}

.cta a{

    display:inline-block;

    padding:15px 35px;

    text-decoration:none;

    background:white;

    color:#b30c00;

    border-radius:40px;

    font-weight:600;

    transition:.4s;
}

.cta a:hover{

    background:#222;

    color:white;
}

/* Responsive */

@media(max-width:768px){

.service-banner h1{

font-size:40px;

}

.cta{

padding:40px 20px;

}

.cta h2{

font-size:30px;

}

}